jupyter-book
pandas
numpy
datascience
folium
matplotlib
nbinteract
scipy
sympy
scikit-learn
jupyter-book
jax
jaxlib
pyprob
pyhf
daft
plotly
bokeh
altair
jupytext
sphinx-click
sphinx-tabs
sphinx-panels
sphinxext-opengraph
git+https://github.com/ctgk/PRML.git
