jupyter-book
pandas
numpy
datascience
folium
matplotlib
nbinteract
scipy
sympy
scikit-learn
jupyter-book
jax
jaxlib
pyprob
pyhf
plotly
bokeh
altair
jupytext[myst]
myst-parser #~=0.11.1  # Restrict range to satisfy myst-nb
sphinx-click
sphinx-tabs
sphinx-panels
git+https://github.com/ctgk/PRML.git
