jupyter-book
pandas
numpy
datascience
folium
matplotlib
nbinteract
scipy
sympy
scikit-learn
jupyter-book
jax 
jaxlib
plotly
bokeh
altair
jupytext[myst]
sphinx-click
sphinx_tabs
sphinx-panels
git+https://github.com/ctgk/PRML.git